.header {
  display: flex;
  flex-direction: column;
  padding-left: 44px;
  padding-right: 44px;
  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 1440px) {
    margin-left: calc((100% - 1440px) / 2);
    margin-right: calc((100% - 1440px) / 2);
  }
}