.glance {
  display: grid;
  padding: 40px;
  grid-gap: 20px;
  @media (min-width: 1440px) {
    margin-left: calc((100% - 1440px) / 2);
    margin-right: calc((100% - 1440px) / 2);
  }
  @media (max-width: 568px) {
    padding: 20px 1px;
    grid-gap: 10px;
  }
  .tile {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tile1 {
    width: 320px;
    height: 260px;
    border-radius: 3px;
    box-shadow: 0 0.5px 3px rgba(110, 109, 109, 0.5);
  }
  .tile2 {
    width: 320px;
    height: 120px;
    border-radius: 3px;
    box-shadow: 0 0.5px 3px rgba(110, 109, 109, 0.5);
  }
  .tile3 {
    width: 667px;
    height: 120px;
    border-radius: 3px;
    box-shadow: 0 0.5px 3px rgba(110, 109, 109, 0.5);
    @media (max-width: 760px) {
      width: 320px;
      height: 240px;
    }
  }
  .tile4 {
    width: 667px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    @media (max-width: 1456px) {
      width: 320px;
      height: 260px;
      flex-direction: column;
      align-content: space-between;
      grid-column-end: 2;
    }
    @media (max-width: 1095px) {
      width: 667px;
      height: 120px;
      flex-direction: row;
      align-content: space-between;
      grid-column-end: 3;
    }
    @media (max-width: 760px) {
      width: 320px;
      height: 260px;
      flex-direction: column;
      align-content: space-between;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 9;
      grid-row-end: 10;
    }
  }
  .tile5 {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    @media (max-width: 1456px) {
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    @media (max-width: 1095px) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
    }
    @media (max-width: 760px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 9;
      grid-row-end: 10;
    }
  }
  .tile-topresults {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .tile-videos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    @media (max-width: 760px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
  .tile-photos {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    @media (max-width: 1095px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    @media (max-width: 760px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }
  .tile-maps {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    @media (max-width: 1456px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    @media (max-width: 1095px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    @media (max-width: 760px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
  .tile-about {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    @media (max-width: 760px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
  .tile-upcoming {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    @media (max-width: 1456px) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    @media (max-width: 1095px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    @media (max-width: 760px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
    }
  }
  .tile-things {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    @media (max-width: 1456px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    @media (max-width: 1095px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    @media (max-width: 760px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
    }
  }
  .tile-weather {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    @media (max-width: 1456px) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    @media (max-width: 1095px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    @media (max-width: 760px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 9;
    }
  }
  .tile-flights {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .tile-hotels {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .tile-translator {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    @media (max-width: 1456px) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    @media (max-width: 1095px) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
    }
    @media (max-width: 760px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 11;
      grid-row-end: 12;
    }
  }
}