.searchBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95px;
  @media (max-width: 1024px) {
    height: 70px;
  }
  .logo-section {
    display: flex;
    align-items: center;
    width: 28%;
    @media (max-width: 1024px) {
      width: 100px;
      img {
        width: 80px;
      }
    }
  }
  .search-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 44%;
    @media (max-width: 1024px) {
      width: 50%;
    }
    @media (max-width: 768px) {
      width: 40%;
    }
    .input-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: #F8F8F8;
      border-radius: 24px;
      .input-search-key {
        width: calc(100% - 80px);
        font-family: 'Lato Regular';
        font-size: 16pt;
        letter-spacing: 1.2pt;
        margin: 10px 0 10px 20px;
        color: #4E4E4E;
        border: none;
        background-color: transparent;
        outline: none;
        @media (max-width: 1024px) {
          font-size: 13pt;
          margin: 5px 0 5px 20px;
        }
      }
      .search-btn-section {
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
        img {
          margin-top: 3px;
        }
        @media (max-width: 1024px) {
          margin-right: 5px;
          img {
            width: 28px;
          }
        }
      }
    }
  }
  .avatar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 28%;
    @media (max-width: 1024px) {
      width: calc(50% - 100px);
    }
    @media (max-width: 768px) {
      width: calc(60% - 100px);
    }
    .voice-btn-section {
      margin-left: 10px;
      &:hover {
        cursor: pointer;
      }
      @media (max-width: 1024px) {
        margin-left: 5px;
        img {
          width: 36px;
        }
      }
    }
    .right-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      .apps-btn-section {
        margin-top: 5px;
        margin-right: 20px;
        &:hover {
          cursor: pointer;
        }
        @media (max-width: 1024px) {
          img {
            width: 20px;
          }
        }
      }
      .notify-btn-section {
        margin-right: 20px;
        &:hover {
          cursor: pointer;
        }
        @media (max-width: 1024px) {
          img {
            width: 16px;
          }
        }
      }
      .avatar-btn-section {
        &:hover {
          cursor: pointer;
        }
        @media (max-width: 1024px) {
          img {
            width: 36px;
          }
        }
      }
    }
  }
}