.photos {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/images/bg_photo.png');
  background-repeat: no-repeat;
  padding: 25px;
  &:hover {
    cursor: pointer;
  }
  .category {
    font-family: 'Lato Black';
    font-size: 18px;
    letter-spacing: 0.75pt;
    color: white;
  }
}